video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.viewport-header {
  position: relative;
  height: 100vh;
}

.M_BTN {
  padding: 1.25rem;
  font-size: 1.3rem;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 90% 0%, 100% 25%, 100% 100%, 100% 100%, 10% 100%, 0 75%);
          clip-path: polygon(0% 0%, 0% 0%, 90% 0%, 100% 25%, 100% 100%, 100% 100%, 10% 100%, 0 75%);
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
}

.TOPWIN {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.9;
  -webkit-animation: main_display 0.2s;
          animation: main_display 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.TOPWIN .TOPSCREEN {
  background-color: #373737;
  height: 27rem;
  width: 100%;
  font-size: 1.3rem;
}

.TOPWIN .TOPSCREEN .TOPMENU {
  margin-top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: honeydew;
  margin: 3rem;
  font-family: monospace;
  margin-left: 10rem;
  margin-right: 10rem;
}

.TOPWIN .TOPSCREEN .TOPMENU .BRAND {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -30rem;
  -webkit-animation: main_menu1 1.5s;
          animation: main_menu1 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.TOPWIN .TOPSCREEN .TOPMENU .BRAND .BR_LOGO {
  height: 5rem;
  width: 5rem;
  background: url("../img/13_cube.svg") no-repeat;
  background-size: contain;
}

.TOPWIN .TOPSCREEN .TOPMENU .BRAND .BR_NAME {
  padding-left: 1rem;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
}

.TOPWIN .TOPSCREEN .TOPMENU .MENU {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-top: -15rem;
  -webkit-animation: main_menu2 1s 1.5s;
          animation: main_menu2 1s 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.TOPWIN .TOPSCREEN .TOPMENU .MENU .M_ITEMS {
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  padding-bottom: 1em;
}

.TOPWIN .TOPSCREEN .TOPMENU .MENU .M_ITEMS:hover {
  color: #055c5c;
  border-bottom: #055c5c solid 1px;
}

.TOPWIN .TOPSCREEN .TOPMENU .M_BTN1 {
  background-color: darkcyan;
  -webkit-animation: main_menu3 1s 2.5s;
          animation: main_menu3 1s 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.TOPWIN .TOPSCREEN .TOPMENU .M_BTN1:hover {
  background-color: honeydew;
  color: darkcyan;
}

.BOTSCREEN {
  color: honeydew;
  font-family: monospace;
  margin-left: 10rem;
  margin-right: 10rem;
}

.BOTSCREEN .BS_TT {
  margin-top: -6rem;
  font-size: 6rem;
  font-weight: bold;
}

.BOTSCREEN .BS_TT .BSTT1 {
  opacity: 0;
  margin-top: 6rem;
  -webkit-animation: main_display3 1s;
          animation: main_display3 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.BOTSCREEN .BS_TT .BSTT2 {
  opacity: 0;
  margin-top: -15rem;
  -webkit-animation: main_display4 1s;
          animation: main_display4 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.BOTSCREEN .BS_RES {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  margin-right: 50%;
  line-height: 2rem;
  opacity: 0;
  -webkit-animation: main_display2 1s 1.75s;
          animation: main_display2 1s 1.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.BOTSCREEN .BS_ACTION {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-animation: main_display2 1s 1.5s;
          animation: main_display2 1s 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.BOTSCREEN .BS_ACTION .BTN2 {
  background-color: honeydew;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
}

.BOTSCREEN .BS_ACTION .BTN2:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: honeydew;
}

.BOTSCREEN .BS_ACTION .BA_RIGHT {
  opacity: 0;
  -webkit-animation: main_display2 1s 1.5s;
          animation: main_display2 1s 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: rgba(0, 139, 139, 0.5);
  height: 4rem;
  width: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BOTSCREEN .BS_ACTION .BA_RIGHT .arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid honeydew;
}

.BOTSCREEN .SCDONW {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BOTSCREEN .SCDONW .SCDONW_ICO {
  background: url("../img/13_arrow-down.png") no-repeat;
  background-size: contain;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 2rem;
  width: 2rem;
}

.BOTSCREEN .SCDONW .SCDONW_TXT {
  margin-left: 2rem;
  font-size: 1.15rem;
}

.HIDDEN {
  display: none;
  height: 0rem;
}

.INTRO {
  height: 100vh;
  width: 100%;
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: bg_resize 2.5s;
          animation: bg_resize 2.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 40;
}

.INTRO .IN_CONT {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.INTRO .IN_CONT .IN_LOGO {
  height: 50rem;
  width: 50rem;
  background: url("../img/13_cube.svg") no-repeat;
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: intro_logo1 2.5s, intro_logo2 1s 5.25s;
          animation: intro_logo1 2.5s, intro_logo2 1s 5.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.INTRO .IN_CONT .IN_NAME {
  color: honeydew;
  padding-left: 1rem;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  opacity: 0;
  margin-left: -5em;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: intro_BRAND 2.75s 2.5s, intro_BRAND2 1s 5.25s;
          animation: intro_BRAND 2.75s 2.5s, intro_BRAND2 1s 5.25s;
}

@-webkit-keyframes bg_resize {
  from {
    height: 100vh;
  }
  to {
    height: 27rem;
  }
}

@keyframes bg_resize {
  from {
    height: 100vh;
  }
  to {
    height: 27rem;
  }
}

@-webkit-keyframes intro_logo1 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: 50rem;
    width: 50rem;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    height: 5rem;
    width: 5rem;
  }
}

@keyframes intro_logo1 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: 50rem;
    width: 50rem;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    height: 5rem;
    width: 5rem;
  }
}

@-webkit-keyframes intro_logo2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro_logo2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes intro_BRAND {
  0% {
    margin-left: -5em;
    opacity: 0;
  }
  90% {
    margin-left: 1em;
    opacity: 1;
  }
  100% {
    margin-left: 1em;
    opacity: 0;
  }
}

@keyframes intro_BRAND {
  0% {
    margin-left: -5em;
    opacity: 0;
  }
  90% {
    margin-left: 1em;
    opacity: 1;
  }
  100% {
    margin-left: 1em;
    opacity: 0;
  }
}

@-webkit-keyframes intro_BRAND2 {
  0% {
    margin-left: 1em;
    opacity: 1;
  }
  100% {
    margin-left: 1em;
    opacity: 0;
  }
}

@keyframes intro_BRAND2 {
  0% {
    margin-left: 1em;
    opacity: 1;
  }
  100% {
    margin-left: 1em;
    opacity: 0;
  }
}

@-webkit-keyframes main_display {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main_display {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes main_menu1 {
  0% {
    opacity: 0;
    margin-left: -30rem;
  }
  100% {
    margin-left: 0rem;
    opacity: 1;
  }
}

@keyframes main_menu1 {
  0% {
    opacity: 0;
    margin-left: -30rem;
  }
  100% {
    margin-left: 0rem;
    opacity: 1;
  }
}

@-webkit-keyframes main_menu2 {
  0% {
    margin-top: -15rem;
  }
  100% {
    margin-top: 3rem;
  }
}

@keyframes main_menu2 {
  0% {
    margin-top: -15rem;
  }
  100% {
    margin-top: 3rem;
  }
}

@-webkit-keyframes main_menu3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main_menu3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes main_display2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main_display2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes main_display3 {
  0% {
    opacity: 0;
    margin-top: 6rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}

@keyframes main_display3 {
  0% {
    opacity: 0;
    margin-top: 6rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}

@-webkit-keyframes main_display4 {
  0% {
    opacity: 0;
    margin-top: -15rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}

@keyframes main_display4 {
  0% {
    opacity: 0;
    margin-top: -15rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
/*# sourceMappingURL=13_erp.css.map */