
.mainprod{
    background-color: rgb(52, 52, 155);
    border-radius: 90%;
    height: 500px;
    width: 500px;

}

.star{
    color: orangered;
}


.active{
    border-bottom: orangered 1px solid;
}