
.contenair-full{
    display: flex;
    height: 100vh;
    background-color: black;
    color: blanchedalmond;
    align-items: center;
    justify-content: center;
    .cont-center{
        display: flex;
        width: 768px;
        height:  576px;
        background-color: #8a2be2;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        transition:  .8s;
        .btn{
            align-items: center;
            justify-content: center;
            display: flex;
            width: 470px;
            height:  140px;
            //transition: width 0.3s linear 0.3s; 
            transition:  0.8s;
            box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);

            &:hover {
                animation: zoom;
                animation-duration: 0.5s;                
              }
            
            .bt-img{
                display: flex;
                background-color: #b186da;
                height:  140px;
                width: 150px;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                transition:  .8s;
                
            }
            .bt-text{
                display: flex;
                height:  140px;
                width: 320px;
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                align-items: center;
                justify-content: center;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                font-weight: bold;
                .btn-title{
                    font-size: 2em;

                }
            }
            // .val23{
            //     display: none;
            // }
        }      
    }
}



.val1 {
    position: absolute;
    margin-left: -30em;
    margin-top: 2em;
    color: black;
    display: inline-block;
    opacity: 0;
  }

.val2 {
    position: absolute;
    margin-left: -10em;
    margin-top: 2em;

    color: black;
    display: inline-block;
    opacity: 0;
  }
  .btn:hover .val1 {
    margin-left: -25em;
    opacity: 1;
    transition: all 0.5s linear;
  }
  .btn:hover .val2 {
    margin-left: -15em;
    opacity: 1;
    transition: all 0.5s linear;
  }


.val:hover{
    
    display:block;
    

}

@keyframes zoom {
    0% {transform: scale(1); }
    33% {transform: scale(0.9); }
    66% {transform: scale(1.1); }
    100% {transform: scale(1); }
}
