.cont-body {
    font-family: system-ui;
    font-size: 0.8em;
    display: flex;
    // height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(82, 82, 82);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    .cont-center {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 475px;
      max-height: 850px;
      min-width: 475px;
      min-height: 850px;
      width: 475px;
      height: 850px;
      background-color: #ffffff;
    //   align-items: center;
    //   justify-content: center;
      margin: 1em;

      .cont-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 1em;
        .page1:hover{ color: #326c94;}
        .page2:hover{ color: #9c6748;}
        .page3:hover{ color: #2d9483;}
        .cont-name_ID{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 49%;
            border: white 1px solid;
            &:hover{
                background-color: rgb(255, 255, 255);
                border: white 1px solid;
            }
            .cont-name{
                display: flex;
                width: 78%;
                padding: 0.5em;
                padding-bottom: 1.5em;
            }
            .cont-id{
                display: flex;
                width: 10%;
                padding: 0.5em;
                padding-bottom: 1.5em;
                
            }

        }
        .cont-act1{
            background-color: rgb(255, 255, 255);
            color: #326c94;
            border: white 1px solid;
        }
        .cont-act3{
            background-color: rgb(255, 255, 255);
            color: #2d9483;
            border: white 1px solid;
        }
      }
      .cont-sub{
        padding: 1em;
        display: flex;
        flex-direction: row;
        width: 100%;
        .ti1{
            justify-content: left;
        }
        .ti2{
            justify-content: center;
        }
        .ti3{
            justify-content: flex-end;
        }
        
        .cont_sub_ti{
            display: flex;
            width: 33%;
        }
      }

      .cont-prez{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 80%;
        width: 100%;
        .cont-prez-name{
            text-transform: uppercase;
            letter-spacing: 3px;
            width: 33%;
            padding: 1em;
            .vert_name{
                width: 50em;
                transform: rotate(-90deg);
                transform-origin: 0 100%;
                z-index: 10;
                margin-top: 11.5em;
                margin-left: 1.2em;
                font-size: 4em;
                .span{
                    display: flex;
                    align-items: center;
                }
            }
        }
        .cont-prez-res{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            line-height: 1.3em;
            width: 66%;
            text-align: justify;
            text-justify: inter-word;
            padding: 1.6em;
            margin-left: -2.5em;
        }

        .cont-prez-img{
            align-self: flex-end;
        }
      }
      .noact{
        height: 45%;
    }
      .cont_toptit{
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-left: 0.4em;
        margin-right: 0.4em;
        margin-top: 0.3em;
        text-align: justify;
        text-justify: inter-word;
        .toptit_1{
            text-align-last: right;
        }
        .toptit_2{
            text-align-last: left;
        }

      }
    }



    .con1{
        background-color: #326c94;
        color: rgb(255, 255, 255);
      }
      .con2{
        background-color: #9c6748;
        color: rgb(255, 255, 255);
    }
    .con3{
        background-color: #2d9483;
        color: rgb(255, 255, 255);
    }
}

// 850 - 475