@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
}

.main .cont-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 66%;
  height: 100vh;
}

.main .cont-1 .c1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 66.66vh;
  color: white;
  background-color: black;
}

.main .cont-1 .c1-1 .c11-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .cont-1 .c1-1 .c11-1 .c111-1 {
  font-weight: bold;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 3em;
  font-size: 1.3em;
}

.main .cont-1 .c1-1 .c11-1 .c111-1 .c1111-2 {
  color: #ffd234;
}

.main .cont-1 .c1-1 .c11-1 .c111-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10em;
}

.main .cont-1 .c1-1 .c11-1 .c111-2 .c1112 {
  margin-left: 2em;
  margin-left: 2em;
  font-weight: 900;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
  padding-top: 3px;
  padding-bottom: 3px;
}

.main .cont-1 .c1-1 .c11-1 .c111-2 .c1112:hover {
  color: #ffd234;
  border-top: #ffd234 1px solid;
  border-bottom: #ffd234 1px solid;
}

.main .cont-1 .c1-1 .c11-1 .c111-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3em;
}

.main .cont-1 .c1-1 .c11-1 .c111-3 .c1113x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5em;
  width: 1.5em;
  padding: 2px;
  background-color: gray;
  color: black;
  border-radius: 90%;
  margin: 7.5px;
  font-size: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
  font-size: 1.2em;
}

.main .cont-1 .c1-1 .c11-1 .c111-3 .c1113x:hover {
  background-color: midnightblue;
  color: #ffd234;
}

.main .cont-1 .c1-1 .c11-2 {
  height: 70%;
  width: 100%;
  font-size: 6em;
  font-weight: bold;
  margin-top: 0.6em;
}

.main .cont-1 .c1-1 .c11-2 .c112-1 {
  color: #ffd234;
  margin-left: 1.5em;
}

.main .cont-1 .c1-1 .c11-2 .c112-2 {
  text-align: center;
}

.main .cont-1 .c1-1 .c11-2 .c112-3 {
  position: relative;
  text-align: right;
  margin-right: -0.75em;
}

.main .cont-1 .c1-1 .c11-3 {
  height: 15%;
  width: 100%;
  font-weight: bold;
  font-weight: 900;
  text-transform: uppercase;
}

.main .cont-1 .c1-1 .c11-3 .c113-1 {
  position: relative;
  margin-top: -21.5em;
  width: 350px;
  height: 350px;
  border-top: white 3px solid;
  border-right: white 3px solid;
  border-radius: 0 350px 0 0;
  -moz-border-radius: 0 350px 0 0;
  -webkit-border-radius: 0 350px 0 0;
}

.main .cont-1 .c1-1 .c11-3 .c113-2 {
  position: relative;
  margin-top: -7em;
  margin-left: 3em;
  height: 60px;
  width: 60px;
  background-color: #ffd234;
  border-radius: 90%;
}

.main .cont-1 .c1-1 .c11-3 .c113-3 {
  position: relative;
  margin-top: -3.5em;
  margin-left: 6em;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.main .cont-1 .c1-1 .c11-3 .c113-4 {
  position: relative;
  margin-top: -1.8em;
  margin-left: 8em;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
  font-size: 1.2em;
}

.main .cont-1 .c1-1 .c11-3 .c113-4:hover {
  color: #ffd234;
  margin-left: 11em;
}

.main .cont-1 .c1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33.33vh;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .cont-1 .c1-2 .c12-1 {
  width: 50%;
  height: 33.33vh;
  background: url(https://github.com/Freecey/Dribbble_Challenges/blob/master/img/6_dadplay.webp?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.main .cont-1 .c1-2 .c12-2 {
  width: 25%;
  height: 33.33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .cont-1 .c1-2 .c12-2 .c122x {
  padding-right: 30px;
  padding-left: 30px;
}

.main .cont-1 .c1-2 .c12-2 .c122-1 {
  padding-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.main .cont-1 .c1-2 .c12-2 .c122-1 .fa-square {
  margin-left: -1.5em;
  margin-right: 0.5em;
  color: #ffd234;
}

.main .cont-1 .c1-2 .c12-2 .c122-2 {
  margin-top: -3em;
  line-height: 1.5em;
}

.main .cont-1 .c1-2 .c12-2 .c122-3 {
  padding-bottom: 30px;
  font-weight: bold;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.main .cont-1 .c1-2 .c12-2 .c122-3:hover {
  color: orangered;
  margin-left: 3em;
}

.main .cont-1 .c1-2 .c12-3 {
  width: 25%;
  height: 33.33vh;
  background: url(https://github.com/Freecey/Dribbble_Challenges/blob/master/img/6_smartphone.webp?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.main .cont-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 33%;
}

.main .cont-2 .c2-1 {
  width: 100%;
  height: 75vh;
  background: url(https://github.com/Freecey/Dribbble_Challenges/blob/master/img/6_chair-cat2.webp?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-blend-mode: screen;
}

.main .cont-2 .c2-2 {
  width: 50%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .cont-2 .c2-2 .c22x {
  padding-right: 30px;
  padding-left: 30px;
}

.main .cont-2 .c2-2 .c22-1 {
  font-size: 350%;
  padding-top: 30px;
}

.main .cont-2 .c2-2 .c22-2 {
  line-height: 1.5em;
  margin-top: -3em;
}

.main .cont-2 .c2-2 .c22-3 {
  padding-bottom: 30px;
  font-weight: bold;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.main .cont-2 .c2-2 .c22-3:hover {
  color: orangered;
  margin-left: 3em;
}

.main .cont-2 .c2-3 {
  width: 50%;
  height: 25vh;
  background-color: #ffd234;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .cont-2 .c2-3 .c23x {
  padding-right: 30px;
  padding-left: 30px;
}

.main .cont-2 .c2-3 .c23-1 {
  font-size: 350%;
  padding-top: 30px;
}

.main .cont-2 .c2-3 .c23-2 {
  line-height: 1.5em;
  margin-top: -4em;
}

.main .cont-2 .c2-3 .c23-3 {
  padding-bottom: 30px;
  font-weight: bold;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.main .cont-2 .c2-3 .c23-3:hover {
  color: orangered;
  margin-left: 3em;
}
/*# sourceMappingURL=6_Interior-design.css.map */