
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// font-family: 'Montserrat', sans-serif;

// font-family: 'Noto Sans', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;

$myyellow: #ffd234;

.main{
    display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9em;
    .cont-1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 66%;
        height: 100vh;
        .c1-1{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            height: 66.66vh;
            color: white;
            background-color: black;
            .c11-1{
                display: flex;
                width: 100%;
                flex-wrap: nowrap;
                flex-direction: row;
                height: 15%;
                justify-content: space-between;
                font-family: 'Noto Sans', sans-serif;
                align-items: center;
                .c111-1{
                    font-weight: bold;
                    font-weight: 900;
                    text-transform: uppercase;
                    margin-left: 3em;
                    font-size: 1.3em;
                    .c1111-2{
                        color: $myyellow;
                        
                    }
                }
                .c111-2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: -10em;
                    
                    .c1112{
                        margin-left: 2em;
                        margin-left: 2em;
                        font-weight: 900;
                        transition: ease-in 1s;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        &:hover{
                            
                            // text-decoration: overline underline;
                            color: $myyellow;
                            border-top: $myyellow 1px solid;
                            border-bottom: $myyellow 1px solid;
                        }
                    }
                }
                .c111-3{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 3em;
                    
                    .c1113x{
                        display: flex;
                        height: 1.5em;
                        width: 1.5em;
                        padding: 2px;
                        background-color: gray;
                        color: black;
                        // height: 1em;
                        border-radius: 90%;
                        margin: 7.5px;
                        font-size: 1.2em;
                        align-items: center;
                        justify-content: center;
                        
                        transition: ease-in 1s;
                        font-size: 1.2em;
    
                        &:hover{
                            // text-decoration: overline underline;
                            background-color: midnightblue;
                            color: $myyellow;
                            
                        }
                        
                    }
                    .c1113-2{
                        
                    }
                }
            }
            .c11-2{
                height: 70%;
                width: 100%;
                font-size: 6em;
                font-weight: bold;
                margin-top: 0.6em;
                .c112-1{
                    color: $myyellow;
                    margin-left: 1.5em;
                }
                .c112-2{
                    text-align: center;
                }
                .c112-3{
                    position: relative;
                    text-align: right;
                    margin-right: -0.75em;
                }
            }
            .c11-3{
                
                height: 15%;
                width: 100%;
                font-weight: bold;
                font-weight: 900;
                text-transform: uppercase;
                .c113-1{
                    position: relative;
                    margin-top: -21.5em;
                width: 350px;
                height: 350px;
                
                border-top: rgb(255, 255, 255) 3px solid;
                border-right: rgb(255, 255, 255) 3px solid;
                border-radius: 0 350px 0 0;
                -moz-border-radius: 0 350px 0 0;
                -webkit-border-radius: 0 350px 0 0;
                }
                .c113-2{
                    position: relative;
                    margin-top: -7em;
                    margin-left: 3em;
                    height: 60px;
                    width: 60px;
                    background-color: $myyellow;
                    border-radius: 90%;
                }
                .c113-3{
                    position: relative;
                    margin-top: -3.5em;
                    margin-left: 6em;
                    transition: ease-in 1s;
                    
                }
                .c113-4{
                    position: relative;
                    margin-top: -1.8em;
                    margin-left: 8em;
                    transition: ease-in 1s;
                    font-size: 1.2em;

                    &:hover{
                        // text-decoration: overline underline;
                        color: $myyellow;
                        margin-left: 11em;
                    }
                    
                }
            }
        }
        .c1-2{
            display: flex;
            width: 100%;
            height: 33.33vh;
            flex-wrap: nowrap;
            flex-direction: row;
            .c12-1{
                width: 50%;
                height: 33.33vh;
                background: url(https://github.com/Freecey/Dribbble_Challenges/blob/master/img/6_dadplay.webp?raw=true);
                background-repeat: no-repeat;
                
                background-size: cover;
                background-size:100% 100%;
            }
            .c12-2{
                width: 25%;
                height: 33.33vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .c122x{
                    padding-right: 30px;
                    padding-left: 30px;
                }
                .c122-1{
                    padding-top: 30px;
                    font-weight: bold;
                    text-transform: uppercase;
                    .fa-square{ 
                        margin-left: -1.5em;
                        margin-right: 0.5em;
                        color: $myyellow;
                    }
                }
                .c122-2{
                    margin-top: -3em;
                    line-height: 1.5em;
                }
                .c122-3{
                    padding-bottom: 30px;
                    font-weight: bold;
                    transition: ease-in 1s;

                    &:hover{
                        // text-decoration: overline underline;
                        color: orangered;
                        margin-left: 3em;
                    }
                }
            }
            .c12-3{
                width: 25%;
                height: 33.33vh;
                background: url(https://github.com/Freecey/Dribbble_Challenges/blob/master/img/6_smartphone.webp?raw=true);
                background-repeat: no-repeat;
                background-size: cover;
                background-size:100% 100%;

            }
        }
    }
    .cont-2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 33%;
        .c2-1{
            width: 100%;
            height: 75vh;
            background: url(https://github.com/Freecey/Dribbble_Challenges/blob/master/img/6_chair-cat2.webp?raw=true);
                background-repeat: no-repeat;
                background-size: cover;
                background-size:100% 100%;
                // background-color: lighten($myyellow, 100%);
                

                background-blend-mode: screen;
        }
        .c2-2{
            width: 50%;
            height: 25vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .c22x{
                padding-right: 30px;
                padding-left: 30px;
            }
            .c22-1{
                font-size: 350%;
                padding-top: 30px;
            }
            .c22-2{
                line-height: 1.5em;
                margin-top: -3em;
            }
            .c22-3{
                padding-bottom: 30px;
                font-weight: bold;
                transition: ease-in 1s;

                    &:hover{
                        // text-decoration: overline underline;
                        color: orangered;
                        margin-left: 3em;
                    }
            }
        }
        .c2-3{
            width: 50%;
            height: 25vh;
            background-color: $myyellow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .c23x{
                padding-right: 30px;
                padding-left: 30px;
            }
            .c23-1{
                font-size: 350%;
                padding-top: 30px;
            }
            .c23-2{
                line-height: 1.5em;
                margin-top: -4em;
            }
            .c23-3{
                padding-bottom: 30px;
                font-weight: bold;
                transition: ease-in 1s;

                    &:hover{
                        // text-decoration: overline underline;
                        color: orangered;
                        margin-left: 3em;
                    }
            }
        }
    }
}



